.bgg{
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
  
}
h2{
    margin: 20px;
}
h2:hover{
    color: rgb(114, 4, 64);
    
}
.form-container{
    height: 100%;
    width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgb(7, 22, 44);
}
.form-container:hover{
    box-shadow: 3px 3px 3px 3px rgb(61, 20, 99);
}

button{
    background-color: chocolate;
    
}
button:hover{
    background-color: brown;
    color: white;
}
